
    *{
        box-sizing: border-box;
    }
    html{
        color:black;
    }
    body{
        background-color: white ;
    }
    nav a:visited { 
        color: black;
        text-decoration: none;
    }
    nav a:hover, nav a:visited, nav a:link, nav a:active
    {
    text-decoration: none;
    }
    li{
        display: inline-block;
        font-size:20px;
        width:24%;
        text-align: center;
        font-family: Impact, Charcoal, sans-serif;
    }
    li a{
        text-decoration: none;
        border: 3px solid black;
        padding: 15px 95px 15px 95px;
        border-radius: 5px;
        background-color: rgba(255,255,255,.5);
        transition: background-color 2s, color 2s;
    }
    li a:hover{
        background-color: black;
        color:white;
    }
    


    .section form{
        text-align: center;
    }

    .lovely_son{
        width: 100%;
    }
    .section{
        position: absolute;
        top: 180px;
        left: 50px;
        width: 600px;
        text-align:center; 
    }
    .son_fucks{
        position: absolute;
        top: 180px;
        left: 55%;
        width: 850px;
        text-align:center; 

    }
    .son_fucks li{
        
    }

   h1{
        text-align: center;
   }

    .cont{
        color:white;
    }
    .son_pics div{
        display: inline-block;
        width: 24%;
        height: 300px;
        position: relative;
    }
    .son_pics div img{
        width: 100%;
        height: 300px;
        transition: opacity 0.5s;
    }
    .son_pics div h4{
        position: absolute;
        font-size: 25px;

        width:100%;
        top:50%;
        margin:0;
        transform: translateY(-50%);

        text-align: center;
        transition: background-color 1s, color 1s;
        opacity: 0;
        color:white;
    }

    .son_pics div:hover h4{
        background-color: rgba(0,0,0,0.9);
        opacity: 1;
    }
    .son_pics div:hover img{
        opacity: 0.5;
    }


    .sb{
        left :90%;
        top: 700px;
        position: fixed;
    }
    .sb img{
        position:relative;
        top:0px;
        width: 100%;
        height: 100%;
        opacity :0.8;
        transition: opacity 0.5s;
    }
    .sb h4{
        position: absolute;
        font-size: 25px;

        width:100%;
        top:48%;
        margin:0;
        transform: translateY(-50%);
        padding: 49px 0px 49px 0px;
        text-align: center;
        transition: background-color 1s, color 1s;
        opacity: 0;
        color:white;
    }
    .sb a:active{
        padding: 61px 0px 61px 0px;
    }
    .sb:hover h4{
        background-color: rgba(0,0,0,0.9);
        opacity: 1;
    }
    .sb:hover img{
        opacity: 0.3;
    }

    .sb a:link {
        color: white;
        text-decoration: none;


    }
    .sb a:visited {
        text-decoration: none;
        color: white;
    }

    img{
        border-radius: 1%;
    }

    .footer{
        position:relative;
        top:0px;
        width:100%;
        text-align: center;
        color:white;
        background-color: black
    }
    .footer a{
        text-decoration: none;
        border-bottom: 1px solid #0d2c40;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;
        transition: background-color 1s, color 1s;
    }
    
    .footer a:hover {
        color: red;
        border-bottom: 1px solid rgba(50, 150, 50, 0.4);
        }
    .desktop{
        padding:20px 10px 10px;
        width:100%;
        margin-top: 20px;
        margin-bottom:40px;
        border: 5px solid rgba(50,50,50,0.5);
        border-width: 10px 10px 10px;
        border-style: double;
        position: absolute;
        top: 40px;
    }
    .hamburger div{
        width: 30px;
        height:5px;
        margin-top:5px;
        background-color: #FF381B;
    }
    .mobile{
        top:0px;
        width:100%;
        display:none;
        padding:10px;
        background-color: white;
    }

    table tr th{
        text-align: center;
    }
    table tr th, table tr td{
        border: 1px solid black;
        padding: 5px;
    }
    .gametable{
        margin-left: auto;
        margin-right:auto;
    }

    .contact_form{
        position:relative;
        top:500px;
    }

    @media(max-width: 888px){
        .son_pics div{
            width: 49%;
        }
        .son_pics{
            top: 800px;
        }
        .section{
        position: absolute;
        top: 180px;
        left: 50px;
        width: 400px;
        text-align:center;
        }
    }
    @media(max-width: 737px){
        .son_pics div{
            width: 100%;
        }
        .desktop{
            display:none;
        }
        .mobile{
            display: block;
        }

    }
    @media(max-width: 1190px){
        li a{
            padding: 15px 35px 15px 35px;
        }
    }
